* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura del viewport */
}

footer {
    width: 100%;
    padding: 2rem 8%;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: transform 0.3s;
}

.social-icon:hover {
    background-color: aqua;
}

.social-icon:hover i {
    transform: scale(1.1);
}

.menu-container {
    list-style-type: none;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0 1rem;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.menu-item:hover {
    opacity: 1;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.menu-item a:hover {
    text-decoration: underline;
}
